<!--
    ioBroker.f1 - Race Countdown Widget
    VIS1 Widget for displaying next race countdown
-->
<script type="text/javascript" src="widgets/f1-race-countdown/js/f1-race-countdown.js"></script>
<link rel="stylesheet" href="widgets/f1-race-countdown/css/f1-race-countdown.css">

<script id="tplF1RaceCountdown" type="text/ejs">
    <div class="f1-countdown-widget" data-oid-circuit="<%= circuit_oid %>"
                                      data-oid-country="<%= country_oid %>"
                                      data-oid-location="<%= location_oid %>"
                                      data-oid-date="<%= date_oid %>"
                                      data-oid-countdown="<%= countdown_oid %>">
        <div class="f1-countdown-header">
            <span class="f1-countdown-title">NEXT RACE</span>
        </div>
        
        <div class="f1-countdown-content">
            <div class="f1-countdown-circuit">
                <span class="f1-countdown-flag">🏁</span>
                <span class="f1-countdown-circuit-name">Loading...</span>
            </div>
            
            <div class="f1-countdown-location">
                <span class="f1-countdown-location-text">Loading location...</span>
            </div>
            
            <div class="f1-countdown-timer">
                <span class="f1-countdown-days">--</span>
                <span class="f1-countdown-label">DAYS TO GO</span>
            </div>
            
            <div class="f1-countdown-date">
                <span class="f1-countdown-date-text">📅 ----</span>
            </div>
        </div>
    </div>
</script>
